<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-detect_encoding" version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>jp_encode_decode</name>

    <js-module name="detect_encoding" src="www/detect_encoding.js">
        <clobbers target="detect_encoding" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">

            <feature name="detect_encoding">
                <param name="ios-package" value="detect_encoding" />
            </feature>
        </config-file>
        <source-file src="src/ios/detect_encoding.swift" />
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
    </platform>
</plugin>